#for-babies {
  background: #fff;
  border-top: 4px dashed #a8ff94;
  overflow: hidden;
}
/*#for-babies .section-bg {*/
  /*background: url(../img/star.svg) 15px top repeat;*/
  /*background-size: 32px 32px;*/
  /*position: absolute;*/
  /*top: -500px;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*opacity: .2;*/
  /*z-index: -1;*/
/*}*/
#for-babies .contact-me-btn:hover {
  background: rgba(168, 255, 148, .4);
}
@media screen and (min-width: 768px) {
  #for-babies .parallax-imageset {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #for-babies .parallax-imageset .parallax-star {
    opacity: .4;
    position: absolute;
    vertical-align: top;
    height: auto;
    width: 100%;
  }
  #for-babies .parallax-imageset .parallax-star.star-l {
    right: 240px;
    top: 60%;
    max-width: 350px;
  }
  #for-babies .parallax-imageset .parallax-star.star-m {
    top: 30%;
    left: 80px;
    max-width: 150px;
  }
  #for-babies .parallax-imageset .parallax-star.star-s {
    top: 80px;
    right: 15%;
    max-width: 30px;
  }
  #for-babies .parallax-imageset .parallax-star.star-s + .star-s {
    top: 96%;
    left: 30%;
    max-width: 30px;
  }
}
@media screen and (max-width: 768px) {
  #for-babies .parallax-imageset {
    display: none;
  }
}