#banner {
  background: #fff;
  position: relative;
}
#banner .section {
  position: relative;
  z-index: 999;
}
#banner .banner-description h2 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 16px;
}
#banner .banner-description h1 {
  margin-bottom: 8px;
}
#banner .banner-description h3 {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 8px;
}
#banner .banner-description ul {
  margin-top: 40px;
}
#banner .banner-description ul li {
  font-size: 16px;
  line-height: 36px;
}
#banner .banner-description ul li i {
  font-size: 12px;
  margin-right: 12px;
}
#banner .banner-image img {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #banner {
    height: 100vh;
    min-height: 620px;
    padding-top: 200px;
    padding-bottom: 60px;
    -webkit-transition: padding-top .4s;
    -moz-transition: padding-top .4s;
    -ms-transition: padding-top .4s;
    -o-transition: padding-top .4s;
    transition: padding-top .4s;
  }
  #header.fixed + #banner {
    padding-top: 160px;
  }
  #banner .banner-description,
  #banner .banner-image {
    float: left;
    width: 100%;
  }
  #banner .banner-description {
    max-width: 60%;
  }
  #banner .banner-image {
    max-width: 40%;
    margin-top: 60px;
  }
  #banner .parallax-imageset {
    position: absolute;
    top: 100vh;
    width: 100%;
    z-index: 5;
  }
  #banner .parallax-imageset .parallax-rocket {
    opacity: .2;
    position: absolute;
    vertical-align: top;
    height: auto;
    width: 100%;
  }
  #banner .parallax-imageset .parallax-rocket.rocket-l {
    left: 30px;
    max-width: 450px;
  }
  #banner .parallax-imageset .parallax-rocket.rocket-m {
    right: 80px;
    max-width: 200px;
  }
  #banner .parallax-imageset .parallax-rocket.rocket-s {
    left: 65%;
    max-width: 80px;
  }
}
@media screen and (max-width: 768px) {
  #banner {
    padding-top: 200px;
    padding-bottom: 20px;
  }
  #banner .section {
    padding-bottom: 40px;
  }
  #banner .banner-description {
    text-align: center;
  }
  #banner .banner-description h2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  #banner .banner-description ul {
    display: inline-block;
    margin: 30px 0 60px;
    text-align: left;
  }
  #banner .banner-description ul li {
    font-size: 14px;
    line-height: 32px;
  }
  #banner .banner-image {
    margin: 0 auto;
    max-width: 500px;
  }
  #banner .parallax-imageset {
    display: none;
  }
}