#banner {
  background: #ffd364;
  height: 100vh;
  position: relative;
}
/*#banner:before {*/
  /*background: url(../img/rocket-up.svg) left top repeat;*/
  /*background-size: 32px 32px;*/
  /*content: '';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*opacity: .1;*/
  /*z-index: -1;*/
/*}*/
#banner .section-bg {
  background: url(../img/rocket-up.svg) left top repeat;
  background-size: 32px 32px;
  /*content: '';*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .1;
  z-index: -1;
}
#banner .banner-description h2 {
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 5px;
}
#banner .banner-description h1 {
  color: #fff;
  font-size: 44px;
  line-height: 48px;
  margin-bottom: 5px;
}
#banner .banner-description h3 {
  font-style: italic;
  color: rgba(34, 62, 73, .7);
  margin-bottom: 5px;
}
#banner .banner-description ul {
  margin-top: 20px;
}
#banner .banner-description ul li {
  font-size: 16px;
  line-height: 24px;
  padding-left: 75px;
  position: relative;
}
#banner .banner-description ul li:before {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #223e49;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
#banner .banner-image img {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #banner {
    padding-top: 180px;
    padding-bottom: 60px;
    -webkit-transition: padding-top .4s;
    -moz-transition: padding-top .4s;
    -ms-transition: padding-top .4s;
    -o-transition: padding-top .4s;
    transition: padding-top .4s;
  }
  #header.fixed + #banner {
    padding-top: 160px;
    /*padding-bottom: 40px;*/
  }
  #banner .banner-description,
  #banner .banner-image {
    float: left;
    width: 100%;
  }
  #banner .banner-description {
    max-width: 60%;
  }
  #banner .banner-description h2 {
    margin-top: 25px;
  }
  #banner .banner-image {
    max-width: 40%;
  }
}
@media screen and (max-width: 768px) {
  #banner {
    padding-top: 180px;
    padding-bottom: 20px;
  }
  #banner .banner-description {
    text-align: center;
  }
  #banner .banner-description ul {
    display: inline-block;
    margin-bottom: 30px;
    text-align: left;
  }
  #banner .banner-image {
    margin: 0 auto;
    max-width: 500px;
  }
}
