#banner {
  background: #fff;
  /*border-bottom: 4px dashed #ffd364;*/
  position: relative;
}
#banner .section-bg {
  background: url(../img/rocket-up.svg) left top repeat;
  background-size: 32px 32px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .08;
  z-index: -1;
}
#banner .banner-description h2 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 16px;
}
#banner .banner-description h1 {
  margin-bottom: 8px;
}
#banner .banner-description h3 {
  font-size: 16px;
  font-style: italic;
  /*color: rgba(34, 62, 73, .7);*/
  margin-bottom: 8px;
}
#banner .banner-description ul {
  margin-top: 40px;
}
#banner .banner-description ul li {
  font-size: 16px;
  line-height: 36px;
  /*padding-left: 75px;*/
  /*position: relative;*/
}
#banner .banner-description ul li i {
    font-size: 12px;
    margin-right: 12px;
}
/*#banner .banner-description ul li:before {*/
  /*content: '';*/
  /*display: block;*/
  /*width: 50px;*/
  /*height: 1px;*/
  /*background: #223e49;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 50%;*/
  /*transform: translate(0, -50%);*/
/*}*/
#banner .banner-image img {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #banner {
    height: 100vh;
    min-height: 620px;
    padding-top: 200px;
    padding-bottom: 60px;
    -webkit-transition: padding-top .4s;
    -moz-transition: padding-top .4s;
    -ms-transition: padding-top .4s;
    -o-transition: padding-top .4s;
    transition: padding-top .4s;
  }
  #header.fixed + #banner {
    padding-top: 160px;
  }
  #banner .banner-description,
  #banner .banner-image {
    float: left;
    width: 100%;
  }
  #banner .banner-description {
    max-width: 60%;
  }
  #banner .banner-image {
    max-width: 40%;
    margin-top: 60px;
  }
  #banner .parallax-imageset {
    position: absolute;
    top: 100vh;
    width: 100%;
  }
  #banner .parallax-imageset .parallax-rocket {
    opacity: .2;
    position: absolute;
    vertical-align: top;
    height: auto;
    width: 100%;
  }
  #banner .parallax-imageset .parallax-rocket.rocket-l {
    left: 30px;
    max-width: 450px;
  }
  #banner .parallax-imageset .parallax-rocket.rocket-m {
    right: 80px;
    max-width: 200px;
  }
  #banner .parallax-imageset .parallax-rocket.rocket-s {
    left: 65%;
    max-width: 80px;
  }
}
@media screen and (max-width: 768px) {
  #banner {
    padding-top: 200px;
    padding-bottom: 20px;
  }
  #banner .section {
      padding-bottom: 40px;
  }
  #banner .banner-description {
    text-align: center;
  }
    #banner .banner-description h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 12px;
    }
  #banner .banner-description ul {
    display: inline-block;
    margin: 30px 0 60px;
    text-align: left;
  }
    #banner .banner-description ul li {
        font-size: 14px;
        line-height: 32px;
    }
  #banner .banner-image {
    margin: 0 auto;
    max-width: 500px;
  }
  #banner .parallax-imageset {
    display: none;
  }
}
