#for-children {
  background: #fff;
  border-top: 4px dashed #6f9fcd;
  overflow: hidden;
}
#for-children .section-bg {
  background: url(../img/space-shuttle.svg) left top repeat;
  background-size: 32px 32px;
  position: absolute;
  top: -500px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .12;
  z-index: -1;
}
#for-children .contact-me-btn:hover {
  background: rgba(111, 159, 205, .4);
}