#for-children {
  background: #fff;
  border-top: 4px dashed #6f9fcd;
  overflow: hidden;
}
#for-children .contact-me-btn:hover {
  background: rgba(111, 159, 205, .4);
}
#for-children .box-item p:first-of-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  #for-children .parallax-imageset {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #for-children .parallax-imageset .parallax-shuttle {
    opacity: .5;
    position: absolute;
    vertical-align: top;
    height: auto;
    width: 100%;
  }
  #for-children .parallax-imageset .parallax-shuttle.shuttle-l {
    right: 400px;
    top: 70%;
    max-width: 350px;
  }
  #for-children .parallax-imageset .parallax-shuttle.shuttle-m {
    top: 100%;
    left: -400px;
    max-width: 150px;
  }
  #for-children .parallax-imageset .parallax-shuttle.shuttle-m + .shuttle-m {
    top: 10%;
    left: 300px;
  }
  #for-children .parallax-imageset .parallax-shuttle.shuttle-s {
    top: 80px;
    right: 15%;
    max-width: 30px;
  }
  #for-children .parallax-imageset .parallax-shuttle.shuttle-s + .shuttle-s {
    top: 90%;
    right: 50%;
  }
  #for-children .parallax-imageset .parallax-shuttle.shuttle-s + .shuttle-s + .shuttle-s {
    top: 150%;
    right: 25%;
  }
}
@media screen and (max-width: 768px) {
  #for-children .parallax-imageset {
    display: none;
  }
}