body {
  color: #223e49;
  font-family: Helvetica, Arial, sans-serif;
}
.section {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section {
    padding: 0 15px;
  }
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */