#contact-us {
  background: #fff;
  border-top: 4px dashed #ffd364;
  margin-bottom: 170px;
  overflow: hidden;
}
#contact-us .section-bg {
  background-color: rgba(255, 255, 255, 1);
  background-image: url(../img/Irina-Grabenko-with-kids-copy.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*opacity: .05;*/
  z-index: -1;
}
#contact-us .section {
  padding: 60px 0;
}
#contact-us h1 {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}
#contact-us img {
  float: left;
  margin: 0 24px 10px 0;
}
#contact-us p {
  line-height: 24px;
  margin-bottom: 12px;
}
#contact-us p a {
  color: #223e49;
}
@media screen and (min-width: 768px) {
  #contact-us .section-bg {
    background: url(../img/Irina-Grabenko-with-kids-copy.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center top;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*opacity: .05;*/
    z-index: -1;
  }
  #contact-us .section-bg:before {
    background: rgba(255, 255, 255, .7);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}